@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-horizontal-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0  600px:         Phone
600px - 900px:    Tablet portrait
900px - 1200px:   Tablet landscape
1200px - 1800px:  is where our normal styles apply
1800px +:         Large Desktop

  $breakpoint argument choices
  - phone
  - tab-port
  - tab-land
  - big-desktop

ORDER for media queries: Base + tipography > general layout + grid layout > page layout > components

em are the best options to define breakpoints in media
query: 1em is 16px unless you change the browser default
*/
@mixin respond($breakpoint) {
  //600px
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  //900px
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  //1200px
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  //1800px
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
